#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#
#
config QEMU_PCI
	bool "Initialize and enumerate PCI/PCI-E Bus"
	default n
	select PCI
	select BOARD_EARLY_INITIALIZE

	---help---
		Enables initialization and scaning of standard x86-64 PCI/PCI-E bus.

config QEMU_PCI_BAR_PAGE_COUNT
	int "Number pages reserved for mapping uninitialized bars"
	default 16
	depends on QEMU_PCI
	depends on GRAN

	---help---
		Most of the time BIOS/EFI or bootloader will map the PCI/PCI-E's bar
		for us. However, in certain scenario, the device bar may be unmapped.
		This option set the number of pages in memory space reserved for 
		mapping the bars.
