#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if MCS99xx_UART

config MCS99xx_UART_MAX_COUNT
	int "Maximum number of mcs99xx devices"

config MCS99xx_UART_BASE_IRQ
	int "The BASE IRQ of MCS99xx devices"

endif # MCS99xx_UART
